nav{
    position: fixed;
    background: #ee6e73;
    padding:0px 30px;
  }

nav li a:hover{
    background: red;
}

.center{
z-index:100;
position: absolute;
width: 1000px;
height: 500px;
top: 50%;
left: 50%;
margin-left: -500px; /* margin is -0.5 * dimension */
margin-top: -250px;
color: #616161;
line-height: 2;
font-size: 100px;
font-weight: 1200;
}​