{% load static %}
<!--
    *MET-CS-699 Term Project Prototype Landing Page
    *Maya Shen
-->
<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS (CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Import jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--Sinal browser website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Kids Art Show: Home Page</title>
<!--Maya's CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'kids_art_show/Maya.css' %}">
<style>
    section{
    background-image: url("{% static 'Media/cat.jpg' %}");
    background-size: cover;
    width: 100%;
    height: 900px;
    }
</style>
</head>

<body>
<!--NavBar-->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Kid Art Show</a>
        <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="{% url 'users' %}" class="red">Profile</a></li>
                <li><a href="{% url 'logout' %}" class="red">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="red">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
  </nav>

  <!--Background Picture-->
    <section>

    </section>

  <!--Footer-->
  <footer class="page-footer red lighten-1">
    <div class="container">
    Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Some Link</a>
    </div>
  </footer>

  <!--Center Text-->
  <div class='fullscreenDiv'>
      <div class="center">
        <h1> Uncap Creativity </h1>
        <a class="waves-effect waves-light btn-large" href="{% url 'register' %}">Register</a>
      </div>
  </div>​
  
  {% if messages %}
    {% for message in messages %}
        <div>
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
  {% endif %}
</body>
</html>
